<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      font-family: "Comic Sans MS", "Comic Sans", cursive !important;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="/static/colorMode.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='game.css')}}" />
  <link rel="stylesheet" href="/static/mainMenu.css" />
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}" />
  <script src="{{url_for('static',filename='bootstrap.js')}}"></script>
  {% block title %} {% endblock %}
</head>

<body class="" id="body">
  {% block body %} {% endblock %}
</body>

</html>