{% extends 'base.html' %} {% block title %}
<title>Option - Hangman Games</title>
<link rel="stylesheet" href="/static/option.css" />

{% endblock %} {% block body %}
<div class="container mt-5">
  <div class="border box-content">
    <form action="" method="post">
      <div class="row p-3">
        <div class="col">
          <label for="">Number lives: </label>
        </div>
        <div class="col"><input type="number" name="lives" class="input-text" value="10" /></div>
      </div>
      <div class="container">
        <label for="select">Select Categories</label>
        <select class="form-select mt-3 mb-3" aria-label=" Default select example" name="categories">
          <option value="0">Animal</option>
          <option value="1">Food</option>
          <option value="2">Instruments</option>
          <option value="3">Jobs</option>
          <option value="4" selected>Random</option>
        </select>

      </div>

      <div class="text-center p-3">
        <input type="submit" value="Save Setting" class="btn playButton" style="color: white;" />
      </div>
    </form>
  </div>
</div>

{% endblock %}